{% extends 'base.html' %}

<!-- navbar content -->
{% block navbar-content %}
<i style="color: yellowgreen;" class="fas fa-user-alt"></i>&nbsp;&nbsp; Employee List
{% endblock navbar-content %}

<!-- Page content -->
{% block content %} 
<div class="container">
    <br><br><br>
    <table class="table table-bordered" id="example" style="text-align: center;">
        <thead class="table-success">
            <tr>
                <th style="width: 10%;">ID</th>
                <th style="width: 20%;">Name</th>
                <th style="width: 20%;">Email</th>
                <th style="width: 20%;">Occupation</th>
                <th style="width: 15%;">Salary</th>
                <th style="width: 15%;">Gender</th>
            </tr>
        </thead>
        <!-- Jason (Response from backend) -->
    </table>
</div>
{% endblock content %}